# compiled library files
mightyLooperCore/pd_externals/sources/src/*.o
mightyLooperCore/pd_externals/sources/*.pd_linux
mightyLooperCore/pd_externals/sources/src/*.swp

# library build directory
mightyLooperCore/pd_externals/mighty_looper_lib

# python cache
mightyLooperEnv/launcher/__pycache__
